<div ng-controller="dashboardCtrl" ng-init="loadStatsUser()">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Mon compte</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <h1>
            <small>Activites ces 7 derniers jours</small>
        </h1>
    </div>
    <div class="row">

        <stats number="{{stats.nbvue7d}}" comments="# vues" colour="primary" type="user"></stats>
        <stats number="{{stats.nbcmt7d}}" comments="# nouveaux commentaires" colour="primary" type="user"></stats>
        <stats number="{{stats.nbeval7d}}" comments="# nouvelles evals" colour="green" type="support"></stats>
        <stats number="{{stats.eval7d}}" comments="# dernières evals" colour="red" type="shopping-cart"></stats>

    </div>
    <div class="row">
        <h1>
            <small>Progression ces 15 derniers jours</small>
        </h1>



        <stats number="{{ (((stats.nbvue7d - stats.nbvue15d) * 100) / (stats.nbvue15d === 0 ? 1 : stats.nbvue15d)) }}" comments="% vues" colour="yellow" type="user"></stats>
        <stats number="{{ (((stats.nbcmt7d - stats.nbcmt15d) * 100) / (stats.nbcmt15d === 0 ? 1 : stats.nbcmt15d)) }}" comments="% nouveaux commentaires" colour="yellow" type="user"></stats>
        <stats number="{{ (((stats.nbeval7d - stats.nbeval15d) * 100) / (stats.nbeval15d === 0 ? 1 : stats.nbeval15d)) }}" comments="% nouvelles evaluations" colour="yellow" type="user"></stats>
        <stats number="{{ ((stats.eval7d + stats.eval15d) / 2) }} " comments="moyennes des evaluations" colour="yellow" type="shopping-cart"></stats>

    </div>

    <!-- /.panel -->
    <div class="row">

        <div class="col-lg-8" id="line-chart">
            <h1>
                <small>Activités sur 90 jours</small>
            </h1>

            <div class="panel panel-default">
                <div class="panel-heading">Vues et Commentaires utilisateur</div>
                <div class="panel-body">
                    <canvas id="lineVisite" class="chart chart-line chart-xl" data="lineVisite.data" labels="lineVisite.labels" legend="true"
                            click="lineVisite.onClick" series="lineVisite.series"></canvas>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">Nombre d'évaluations</div>
                <div class="panel-body">
                    <canvas id="lineInscription" class="chart chart-line chart-xl" data="lineInscription.data" labels="lineInscription.labels" legend="true"
                            click="lineInscription.onClick" series="lineInscription.series"></canvas>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">Evaluation moyenne</div>
                <div class="panel-body">
                    <canvas id="lineService" class="chart chart-line chart-xl" data="lineService.data" labels="lineService.labels" legend="true"
                            click="lineService.onClick" series="lineService.series"></canvas>
                </div>
            </div>

        </div>


        <!-- /.col-lg-8 -->
        <div class="col-lg-4">
            <h1>
                <small>Dernières actualités</small>
            </h1>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bell fa-fw"></i> Notifications
                </div>
                <!-- /.panel-heading -->
                <notifications></notifications>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->

        </div>
        <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->
</div>
