<!DOCTYPE html>
<html lang="en">
<head>
    <title>EasyTrip</title>
    <meta charset="utf8" />
    <!-- Bootstrap Core CSS -->
    <link href="styles/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="styles/font-awesome.min.css" rel="stylesheet">
    <link href="styles/result.css" rel="stylesheet">
    <link href="styles/feature.css" rel="stylesheet">
    <link href="styles/animate.css" rel="stylesheet">
    
    <!--    Jquery-->
    <link href="styles/jquery-ui-1.9.2.custom.min.css" rel="stylesheet"> 
    
    <!--    Bootstrap dialog-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/css/bootstrap-dialog.min.css">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    
    <!--    rating-->
    <link rel="stylesheet" href="styles/stars.css">
    <link href="http://www.cssscript.com/wp-includes/css/sticky.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
</head>
<body>
     
     <header class="text-left">
        <a href="/"> <i class="fa fa-chevron-circle-left"></i> Go HOME</a>
        <div id="titre" class="text-center col-md-2 col-md-offset-5">
            <h1 >EasyTrip</h1>
            <p >Give your opinion</p>
        </div>
    </header>

    <!-- APP  -->
    <div class="col-md-8 col-md-offset-2 feature-app" >
        <div class="row" id="row-img">
            <img src="" class="col-md-4 img img-responsive img-rounded" id="image"/>
            <div class="col-md-7 col-md-offset-1">
                <div class="col-md-7 col-md-offset-9">
                        <button type="button" class="btn btn-primary" id="showPopup" >Give a Review </button>
                    </div>
                <h4>Appréciation générale</h4>
                <table class="table table-hover ">
                    <tbody id="summary">
                    </tbody>
                </table>
                
            </div>                
        </div>
        <div class="row">
           <div class="panel panel-default col-md-12">
              <h5>Information</h5>
              <div class="panel-body">
                <ul id="information">
                <ul>
              </div>
            </div>
        </div>
           <div class="row chat-panel" >
               <div>
                    <div class="panel-body">
                        <ul class="chat" id="comments">
                        </ul>
                   </div>
               </div>
           </div>
            </div>
            </div>
        </div>
    <!--  JAVASCRIPT  -->
    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <!--    DatePicker-->
    <script src="js/jquery-ui-1.9.2.custom.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <!--    Bootstrap dialog-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/js/bootstrap-dialog.min.js"></script>
    <!-- Controller JS -->
    <script src="js/models/features_manager.js"></script>
    <script>
        //idService
        $.urlParam = function(name){
            var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
            return results[1] || 0;
        }
        var id_service = $.urlParam('service');
        
        var info = features_manager.initInfo(id_service);
        $('#information').html(info);

        //Summary
        var summary = features_manager.initSummary(id_service);
        $('#summary').html(summary);
        
        var res = features_manager.initComments(id_service);
        $('#comments').html(res);
        
        //Bootstrap dialog (Review)
        $('#showPopup').click(function(){
            BootstrapDialog.show({
                title: 'Review service',
                message: function(dialog) {
                    var $content = features_manager.popup(id_service);
                    return $content;
                },
                buttons: [
                    {
                    cssClass: 'btn-primary',
                    label: 'Save',
                    action: function(dialog) {                        
                        var comment = document.getElementById('userComment').value;  
                        if(validateScores()){                        
                            features_manager.addComment(id_service,comment,score1,score2,score3,score4,2);
                            //update summary
                            var summary = features_manager.initSummary(id_service);
                            $('#summary').html(summary);
                        
                            //update comments
                            var res = features_manager.initComments();
                            $('#comments').html(res);
                            
                            dialog.close();
                        }
                            //alert(score1+"\n"+score2+"\n"+score3+"\n"+score4+"\n"+comment+"\n");
                        //else
                            //alert('error');
                        }
                    },
                    {
                    cssClass: 'btn-primary',
                    label: 'Close',
                    action: function(dialog) {
                        dialog.close();
                        }
                    }
                ]
            });
        });
        
        //        rating
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-46156385-1', 'cssscript.com');
          ga('send', 'pageview');
        
        var score1=0;
        var score2=0;
        var score3=0;
        var score4 =0;
        function starClicked(score,value) {
            if(score==1)
                score1= value;
            if(score==2)
                score2= value;
            if(score==3)
                score3= value;
            if(score==4)
                score4= value;
        }
        
        function validateScores() {
            var validScores = true;
            if(score1==0){
                $("input").filter(function(){
                    return this.id.match(/1-[0-9]*/);                    
                }).addClass("text-danger");
                validScores = false;
            }
            if(score2==0){
                
                validScores = false;
            }
            return validScores;
        }
    </script>
</body>

</html>
