<!DOCTYPE html>
<html lang="en">
<head>
    <title>EasyTrip</title>
    <meta charset="utf8" />
    <!-- Bootstrap Core CSS -->
    <link href="styles/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="styles/font-awesome.min.css" rel="stylesheet">
    <link href="styles/result.css" rel="stylesheet">
    <link href="styles/feature.css" rel="stylesheet">
    <link href="styles/animate.css" rel="stylesheet">
    
    <!--    Jquery-->
    <link href="styles/jquery-ui-1.9.2.custom.min.css" rel="stylesheet"> 
    
    <!--    Bootstrap dialog-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/css/bootstrap-dialog.min.css">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    
    <!--    rating-->
    <link rel="stylesheet" href="styles/stars.css">
    <link href="http://www.cssscript.com/wp-includes/css/sticky.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
</head>
<body>
     
    <header class="text-center">
        <a href="/" style="float:left; color:white;">Go HOME</a>
        <div id="titre" class="col-md-offset-5">
            <h1 class="text-center">EasyTrip</h1>
        </div>
    </header>

    <!-- APP  -->
    <div class="col-md-8 col-md-offset-2 feature-app" >
        <div class="row" id="row-img">
            <img src="/images/10.jpg" class="col-md-4 img img-responsive img-rounded" />
            <div class="col-md-7 col-md-offset-1">
                <div class="col-md-7 col-md-offset-9">
                        <button type="button" class="btn btn-primary" id="showPopup" >Give a Review </button>
                    </div>
                <h4>Appréciation générale</h4>
                <table class="table table-hover ">
                    <tbody>
                        <tr><td>Générale</td><td><i class="fa fa-star"/><i class="fa fa-star"/><i class="fa fa-star"/><i class="fa fa-star-o"/><i class="fa fa-star-o"/></td></tr>
                        <tr><td>qualité</td><td><i class="fa fa-star"/><i class="fa fa-star"/><i class="fa fa-star"/><i class="fa fa-star"/><i class="fa fa-star-o"/></td></tr>
                        <tr><td>Ambiance</td><td><i class="fa fa-star"/><i class="fa fa-star"/><i class="fa fa-star"/><i class="fa fa-star"/><i class="fa fa-star"/></td></tr>
                        <tr><td>Price</td><td><i class="fa fa-star"/><i class="fa fa-star"/><i class="fa fa-star"/><i class="fa fa-star"/><i class="fa fa-star"/></td></tr>                    
                    </tbody>
                    
                    
                </table>
                
            </div>
        </div>
        <div class="row">
           <div class="panel panel-default col-md-12">
              <h5>Informations</h5>
              <div class="panel-body">
                <ul>
                    <li>Auteur : Homer Simpson</li>
                    <li>Description : bar de mau, super alcoolisant</li>
                    <li>Prix : 2$</li>
                    <li>Adresse : 43 rue de l'alcoolisme</li>
                    <li>Horaire : 7/7 H</li>
                <ul>
              </div>
            </div>
        </div>
        <div class="row chat-panel" >
                <div>
                    <div class="panel-body">
                        <ul class="chat">
                            <li class="left clearfix"><span class="chat-img pull-left">
                                <img src="/images/anonymous-male.png" alt="User Avatar" class="img-circle img-responsive" />
                            </span>
                                <div class="chat-body clearfix">
                                    <div class="header">
                                        <strong class="primary-font">Abdel</strong> <small class="pull-right text-muted">
                                            <span class="fa fa-clock-o"></span>12 mins ago</small>
                                    </div>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                                        dolor, quis ullamcorper ligula sodales.
                                    </p>
                                </div>
                            </li>
                            <li class="right clearfix"><span class="chat-img pull-right">
                                <img src="/images/anonymous-male.png" alt="User Avatar" class="img-circle img-responsive" />
                            </span>
                                <div class="chat-body clearfix">
                                    <div class="header">
                                        <small class=" text-muted"><span class="fa fa-clock-o"></span>13 mins ago</small>
                                        <strong class="pull-right primary-font">Kévin</strong>
                                    </div>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                                        dolor, quis ullamcorper ligula sodales.
                                    </p>
                                </div>
                            </li>
                            <li class="left clearfix"><span class="chat-img pull-left">
                                <img src="/images/anonymous-male.png" alt="User Avatar" class="img-circle img-responsive" />
                            </span>
                                <div class="chat-body clearfix">
                                    <div class="header">
                                        <strong class="primary-font">Gissel</strong> <small class="pull-right text-muted">
                                            <span class="fa fa-clock-o"></span>14 mins ago</small>
                                    </div>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                                        dolor, quis ullamcorper ligula sodales.
                                    </p>
                                </div>
                            </li>
                            <li class="right clearfix"><span class="chat-img pull-right">
                                <img src="/images/anonymous-male.png" alt="User Avatar" class="img-circle img-responsive" />
                            </span>
                                <div class="chat-body clearfix">
                                    <div class="header">
                                        <small class=" text-muted"><span class="fa fa-clock-o"></span>15 mins ago</small>
                                        <strong class="pull-right primary-font">Homer</strong>
                                    </div>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                                        dolor, quis ullamcorper ligula sodales.
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
<!--
                    <div class="panel-footer">
                        <h5>Donner votre opinion</h5>
                        <div class="input-group">
                            <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." />
                            <span class="input-group-btn">
                                <button class="btn btn-warning btn-sm" id="btn-chat">
                                    Send</button>
                            </span>
                        </div>
                    </div>
-->
                </div>
            </div>
        </div>
    <!--  JAVASCRIPT  -->
    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <!--    DatePicker-->
    <script src="js/jquery-ui-1.9.2.custom.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <!--    Bootstrap dialog-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/js/bootstrap-dialog.min.js"></script>
    <!-- Controller JS -->
    <script src="js/models/services_manager.js"></script>
    <script>
            //Bootstrap dialog
        $('#showPopup').click(function(){
            BootstrapDialog.show({
                title: 'Review service',
                message: function(dialog) {
                    var $content = services_manager.popup(1);
                    return $content;
                },
                buttons: [{
                    cssClass: 'btn-primary',
                    label: 'Save',
                    action: function(dialog) {
                        dialog.close();
                    }
                }]
            });
            //alert("hola");
        });
        
        //        rating
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-46156385-1', 'cssscript.com');
          ga('send', 'pageview');
    </script>
</body>

</html>
