<div style="padding:15px;" id="signinForm">
  <h3>Welcome</h3>
  <h4 style="color:grey;">Sign in below to stard the amazing experience</h4>
  <hr><br>
    <div class="input-group col-md-offset-3">
  <input type="text" class="form-control" style="border-radius: 5px;" id="login_username" placeholder="Username">
</div><br>
<div class="input-group col-md-offset-3">
  <input type="password" class="form-control" style="border-radius: 5px;" id="login_password" placeholder="password">
</div>
<br>
<button class="btn" onclick="signsubmit();" style="font-weight:bold;width:150px;color:white;background-color:#fed136;box-shadow: 2px 2px 10px 0px #656565;">Login</button>
<p><a onclick="signUp();">Sign Up</a></p>
</div>

