<div id="signupForm">
  <div style="padding:15px;">
    <h3>Sign up</h3>
    <h4 style="color:grey;">Sign in below to stard the amazing experience</h4>
    <hr><br>
    <div class="input-group col-md-offset-3">
      <input type="text" class="form-control" id="firstName" style="border-radius: 5px;" placeholder="First name">
    </div><br>
    <div class="input-group col-md-offset-3">
      <input type="text" class="form-control" id="lastName"  style="border-radius: 5px;" placeholder="Last name">
    </div><br>
    <div class="input-group col-md-offset-3">
      <input type="text" class="form-control" id="mail"  style="border-radius: 5px;" placeholder="E-mail">
    </div><br>
    <div class="input-group col-md-offset-3">
      <input type="password" class="form-control" id="password"  style="border-radius: 5px;" placeholder="password">
    </div>
    <br>
    <button class="btn" onclick="signupsubmit();" style="font-weight:bold;width:150px;color:white;background-color:#fed136;box-shadow: 2px 2px 10px 0px #656565;">Sign up</button>
  </div>
</div>