<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Service</h1>
		</div>
		<!-- /.col-lg-12 -->


		<div class="panel-heading">
			Ajouter un nouveau service
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-lg-8">
					<form role="form">

						<!-- INPUT TEXT -->
						<div class="form-group">
							<label>Nom du service *</label>
							<input class="form-control">
							<p class="help-block">Example: Piscine olimpique le possedon</p>
						</div>

						<!-- TEXT AREA -->
						<div class="form-group">
							<label>Description du service *</label>
							<textarea class="form-control" rows="7"></textarea>
						</div>

						<!-- FILE INPUT -->
						<div class="form-group">
							<label>Image principale du service *</label>
							<input type="file">
							<p class="help-block">Vous pourrez ajouter d'aures photos par la suite</p>
						</div>

						<!-- LISTE DEROULANTE -->
						<div class="form-group">
							<label>A quel activite le service appartient-il ? *</label>
							<select class="form-control">
								<option>Sport</option>
								<option>Culture</option>
								<option>Detente</option>
								<option>Voyage</option>
								<option>Fête</option>
							</select>
						</div>

						<div class="form-group">
							<label>Localisation du service *</label>
							<input class="form-control" placeholder="Numero">
							<input class="form-control" placeholder="rue">
							<input class="form-control" placeholder="code postal">
							<input class="form-control" placeholder="ville">
							<label>Pays</label>
							<select class="form-control">
								<option>France</option>
								<option>Belgique</option>
								<option>Luxembourg</option>
								<option>Pays-bas</option>
								<option>Suisse</option>
							</select>
						</div>

						<div class="form-group">
							<label>Localisation du service *</label>
							<input class="form-control" placeholder="Latitude">
							<input class="form-control" placeholder="Longitude">
							<p class="help-block">Example: 50,89345 latitude et 4,457890 longitude</p>
						</div>

						<div class="form-group">
							<label>Journees ouvertes</label>
							<select multiple class="form-control">
								<option>lundi matin</option>
								<option>lundi apres-midi</option>
								<option>lundi soir</option>
								<option>mardi matin</option>
								<option>mardi apres-midi</option>
								<option>mardi soir</option>
								<option>mercredi matin</option>
								<option>mercredi apres-midi</option>
								<option>mercredi soir</option>
								<option>jeudi matin</option>
								<option>jeudi apres-midi</option>
								<option>jeudi soir</option>
								<option>vendredi matin</option>
								<option>vendredi apres-midi</option>
								<option>vendredi soir</option>
								<option>samedi matin</option>
								<option>samedi apres-midi</option>
								<option>samedi soir</option>
								<option>dimanche matin</option>
								<option>dimanche apres-midi</option>
								<option>dimanche soir</option>
							</select>
							<p class="help-block">Selectionnez plusieurs valeurs</p>
						</div>



						<p class="help-block">Les champs marques d'un * sont obligatoire</p>

						<!-- SUBMIT BUTTON -->
						<button type="submit" class="btn btn-default">Ajouter une activite</button>

						<!-- RESET BUTTON -->
						<button type="reset" class="btn btn-default">Annuler</button>

					</form>
				</div>


			</div>
	<!-- /.row -->
</div>