<div class="container-fluid" ng-controller="serviceCtrl" ng-init="loadActivities()">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Service</h1>
		</div>
		<!-- /.col-lg-12 -->


		<div class="panel-heading">
			Ajouter un nouveau service
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-lg-8">
					<form role="form">

						<!-- INPUT TEXT -->
						<div class="form-group">
							<label for="service_name">Nom du service *</label>
							<input class="form-control" id="service_name" ng-value="serviceToEdit.name">
							<p class="help-block">Example: Piscine olympique le possedon</p>
						</div>

						<!-- TEXT AREA -->
						<div class="form-group">
							<label for="service_description">Description du service *</label>
							<textarea class="form-control" rows="7" id="service_description">{{serviceToEdit.description}}</textarea>
						</div>


						<div class="form-group">
							<label for="service_link">Lien du service</label>
							<input class="form-control" id="service_link" ng-value="serviceToEdit.link">
						</div>


						<!-- FILE INPUT -->
						<div class="form-group">
							<label for="service_image">Image principale du service *</label>
							<input type="file" id="service_image">
							<p class="help-block">Vous pourrez ajouter d'aures photos par la suite</p>
						</div>

						<!-- LISTE DEROULANTE -->
						<div class="form-group">
							<label for="service_activity">A quel activite le service appartient-il ? *</label>
							<select id="service_activity">
								<option ng-repeat="activity in activities" ng-value="activity.id_activity">
									{{activity.name}}
								</option>
							</select>
						</div>

						<div class="form-group">
							<label>Localisation du service *</label>
							<input class="form-control" placeholder="Numero" id="address_str_nbr" ng-value="serviceToEdit.address.str_nbr">
							<input class="form-control" placeholder="rue" id="address_str_name" ng-value="serviceToEdit.address.str_name">
							<input class="form-control" placeholder="code postal" id="address_code_zip" ng-value="serviceToEdit.address.code_zip">
							<input class="form-control" placeholder="ville" id="address_city" ng-value="serviceToEdit.address.city">
							<label for="address_country">Pays</label>
							<select class="form-control" id="address_country">
								<option>France</option>
								<option>Belgique</option>
								<option>Luxembourg</option>
								<option>Pays-bas</option>
								<option>Suisse</option>
							</select>
						</div>

						<div class="form-group">
							<label>Localisation du service *</label>
							<input class="form-control" placeholder="Latitude" id="service_geolati" ng-value="serviceToEdit.geolati">
							<input class="form-control" placeholder="Longitude" id="service_geolong" ng-value="serviceToEdit.geolong">
							<p class="help-block">Example: 50,89345 latitude et 4,457890 longitude</p>
						</div>
						<div class="form-group">
						    <label for="service_d_from">Date de debut</label>
						    <input type="text" id="service_d_from" class="form-control" ng-value="serviceToEdit.servicePrices[0].d_from"></input>
						</div>
						<div class="form-group">
						  	<label for="service_d_to">Date de fin</label>
						    <input type="text" id="service_d_to" class="form-control" ng-value="serviceToEdit.servicePrices[0].d_to"></input>
						</div>

						<div class="form-group">
							<label for="service_nb_person_min">Nombre de personne minimum</label>
								<input type="text" id="service_nb_person_min" class="form-control bfh-number" ng-value="serviceToEdit.servicePrices[0].nb_person_min">
						</div>

						<div class="form-group">
							<label for="service_nb_person_max">Nombre de personne maximal</label>
								<input type="text" id="service_nb_person_max" class="form-control bfh-number" ng-value="serviceToEdit.servicePrices[0].nb_person_max">
						</div>

						<div class="form-group">
							<label for="service_price_pp">Prix par personne</label>
								<input type="text" id="service_price_pp" class="form-control bfh-number" ng-value="serviceToEdit.servicePrices[0].price_per_person">
						</div>

						<div class="form-group">
							<label>Journees ouvertes</label>
							<p class="help-block">Exemple : 8h30-11h30 13h00-18h00</p>
							<table class="table table-striped table-bordered table-hover" id="table_opening_days">
								<thead>
									<tr>
										<th>Jour</th>
										<th>Horaires</th>
									</tr>
								</thead>
								
								<tbody>
									<tr>
										<td class="center">Lundi</td>
										<td class="center"><input type="text" id="monday_opening_hours" ng-value="serviceToEdit.Lundi" /></td>
									</tr>	
									<tr>
										<td class="center">Mardi</td>
										<td class="center"><input type="text" id="tuesday_opening_hours" ng-value="serviceToEdit.Mardi"/></td>
									</tr>	
									<tr>
										<td class="center">Mercredi</td>
										<td class="center"><input type="text" id="wednesday_opening_hours" ng-value="serviceToEdit.Mercredi"/></td>
									</tr>	
									<tr>
										<td class="center">Jeudi</td>
										<td class="center"><input type="text" id="thursday_opening_hours" ng-value="serviceToEdit.Jeudi"/></td>
									</tr>	
									<tr>
										<td class="center">Vendredi</td>
										<td class="center"><input type="text" id="friday_opening_hours" ng-value="serviceToEdit.Vendredi"/></td>
									</tr>	
									<tr>
										<td class="center">Samedi</td>
										<td class="center"><input type="text" id="saturday_opening_hours" ng-value="serviceToEdit.Samedi"/></td>
									</tr>
									<tr>
										<td class="center">Dimanche</td>
										<td class="center"><input type="text" id="sunday_opening_hours" ng-value="serviceToEdit.Dimanche"/></td>
									</tr>								
								</tbody>
							</table>
						</div>



						<p class="help-block">Les champs marques d'un * sont obligatoire</p>

						<!-- SUBMIT BUTTON -->
						<button type="submit" id="submit" class="btn btn-default" ng-click="updateService(serviceToEdit.id_service)">Modifier le service</button>

						<!-- RESET BUTTON -->
						<button type="reset" class="btn btn-default">Annuler</button>

					</form>
				</div>


			</div>
	<!-- /.row -->
</div>
